.container {
    text-align: center;
    background-image: url("images\derek-thomson-F8NIC0FAEgc-unsplash.jpg");
    
}

.jumbotron {
    width: 90%;
    margin-left: 70px;
}
.table {
    width: 90%;
    margin-left: 70px;
}
#form {
    width: 90%;
    margin-left: 70px;
    margin-top: 20px;
}