.jumbotron {
    text-align: center;
    background-image: url("images/derek-thomson-F8NIC0FAEgc-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 90%;
    margin-left: 70px;
    color: white;
}

.table {
    width: 90%;
    margin-left: 70px;
}

#form {
    width: 90%;
    margin-left: 70px;
    margin-top: 20px;
}

.lead {
    font-weight: bold;
}